@font-face {
    font-family: 'JuleeRegular';
    src: url('font/JuleeRegular.eot');
    src: u
         url('/font/JuleeRegular.woff2') format('woff2'),
         url('/font/JuleeRegular.woff') format('woff');
    
}
body{
 font-family: 'JuleeRegular';
 background-color: #ABA7A7;
}
.container{
    max-width:  1470px;
    margin: 0 auto;
    margin-bottom: 40px;
   

}
.container-first{
    margin-top: 200px;
    
}
.container-header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
    
    
}
.logo{
    width: 897px;
    max-width: 897px;
    min-height: 163px;
    padding: 26px 29px;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #181818;
    
}
.local{
    width: 540px;
    max-width: 540px;
    min-height: 163px;
    box-sizing: border-box;
    border-radius: 46px;
    background-color: #181818;
}
.container-uslugi{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap:30px;
    list-style-type: none;
}
.uslugi-list{
    position: relative;
    width: 100%;
    max-width: 469px;
    min-height: 420px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    overflow: hidden;
    border-radius: 46px;
    box-shadow: 0px 10px 10px rgba(24, 24, 24, 0.4);
    
}
.opisnie-tatto{
    width: 100%;
    min-height: 307px;
    margin: 0;
    padding: 52px 28px;
    box-sizing: border-box;
    border-top-left-radius: 46px;
    border-top-right-radius:46px ;
    background-color: #181818;
}
.footer-opsinaie-tatto{
    width: 100%;
    min-height: 113px;
    display: flex;
    align-items: center;
    
    border-radius:0 0 46px 46px;
    background-color: #ABA7A7;
    box-shadow: 0px 10px 10px rgba(24, 24, 24, 0.4);
}
.uslugi-list:hover{
    .mascot{
        transition: 3s;
        transform: scale(0.9, 1.05);
    }
}
.text-uslugi{
    margin: 0;
    margin-bottom: 17px;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1em;

}
.style-text-about{
    color: #000;
}
.text-tattoo{
    max-width: 411px;
    width: 100%;
    min-height: 105px;
    margin: 0;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 10px;
    color: #fff;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1em;

}
.text-tattoo-about{
    min-width: 280px;
    color: #000;
}
.text-price{
    min-height: 28px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.1em;
    font-weight: 400;
    line-height: 28px;
}
.links-tatto{
    
    max-width: 150px;
    width: 100%;
    height: 45px;
    margin: 0;
    margin-left: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    border: 3px solid #181818;
}
.mascot{
    position: absolute;
    bottom: 0;
    right: -10px;
    max-width: 220px;
    width: 100%;
    min-width: 220px;
    scale: 1;
}

.uslugi-list-about-me{
    width: 469px;
    max-width: 469px;
    min-height: 420px;
    padding: 52px 29px 39px;
    border-radius: 46px;
    box-sizing: border-box;
    background-color: #DD7979;
    box-shadow: 0px 10px 10px rgba(24, 24, 24, 0.4);
}
.container-footer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}
.block-1{
    width: 100%;
    max-width: 1120px;
    min-height: 534px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    
}
.footer-seti{
    width: 312px;
    max-width: 312px;
    min-height: 534px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 46px;
    background-color: #181818;
}
.work-sketch{
    width: 100%;
    min-height: 130px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;

}
.my-work{
    width: 544px;
    max-width: 544px;
    min-height: 130px;
    border-radius: 46px;
    background-color: #181818;

}
.free-sketch{
    width: 544px;
    max-width: 544px;
    min-height: 130px;
    border-radius: 46px;
    background-color: #181818;
}
.otzivi{
    max-width: 1120px;
    width: 100%;
    min-height: 376px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 56px;
    border-radius: 46px;
    background-color: #899285;
}
.otzivi-block{
    max-width: 261px;
    width: 100%;
    min-height: 288px;
    padding: 18px 36px;
    box-sizing: border-box;
    
    border-radius: 20px;
    background-color: #778073;
}
.text-otvivi{
    max-width:189px;
    min-height: 252px;
   
    display: inline-block;
    margin: 0;
    
}


